<launch>
  <!-- Set tf -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 world map 100" />

  <!-- Launch the map server  -->
  <arg name="map_file" default="$(find value_iteration)/maps/turtle.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen" />

  <!-- Launch other launch files -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/>
</launch>
