<launch>
  <!-- Set tf -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 world map 100" />

  <!-- Launch other launch files -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch" />
  <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch" />
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch" />
</launch>
